@using Seguro.Company.Web.Models
@using CaptchaMvc.HtmlHelpers
@model ContactusModel

@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #map {
        /*width: 620px;*/
        height: 300px;
        /*position:static !important;*/
    }
</style>
<script src='https://www.google.com/recaptcha/api.js'></script>
<section class="content-section med-sec-p">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pd-btm">
                <h3>Office Address</h3>
                <hr />
                <h4>Seguro Soft Technologies Pvt. Ltd.</h4>
                3rd Floor,
                <br />Plot # 27/A, Jayabheri Enclave, Phase-2,
                <br />Behind Radisson Hotel, Gachibowli,
                <br />Hyderabad, Telangana, India – 500 032
            </div>
            <div class="col-md-8 margin-align">
                <div id="map"></div>
            </div>
        </div>

        <div class="row" style="margin-top:20px">
            <div class="col-md-4">
                <h3>Working Hours</h3>
                <hr />
                Days: Monday to Friday
                <br />
                Timings: 9:00 AM - 6:00 PM IST
            </div>
            <div class="col-md-8 contactus-form">
                @using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    <h3>Enquiry Form</h3>
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "required col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "required col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, new { @class = "required col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Phone)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Subject, new { @class = "required col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Subject)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Message, new { @class = "required col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Message)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-10">
                            <div class="g-recaptcha" data-type="image" data-sitekey="@System.Web.Configuration.WebConfigurationManager.AppSettings["RecaptchaPublicKey"]"  data-valmsg-for="Catcpa required cs" data-valmsg-replace="true">
                            </div>
                                <div class="rc-anchor rc-anchor-normal rc-anchor-light">
                                    <div id="recaptcha-accessible-status" class="rc-anchor-aria-status" aria-hidden="true">
                                    </div>
                                    <div class="rc-anchor-error-msg-container" style="display:none">
                                        <span class="rc-anchor-error-msg" aria-hidden="true">Captcha expired</span>
                                    </div>
                                </div>
                           
                            @*<div class="rc-anchor-error-msg-container" style="display:none">
                                <span class="rc-anchor-error-msg">Captcha</span>
                            </div>*@
                            @Html.ValidationMessage("Captcha")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-primary btn-md btn-radius" value="Submit" />
                        </div>
                        
                    </div>
                  }
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    function initMap() {
        var myLatLng = { lat: 17.443156, lng: 78.385253 };

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Seguro Soft Technologies Pvt.Ltd.'
        });
    }

    //function recaptchaExpired() {
    //    alert("Captcha Expired");
    //    $(".rc-anchor-error-msg").html("Captcha");
    //    grecaptcha.reset();
    //}
  
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBloX25GGWGoSptoH4R7B9r-bTxfhSxc3E&signed_in=true&callback=initMap"></script>
